.drink-card {
    display: flex;
    max-width: 500px;
    margin: 10px;
  }
  h3{
    margin: 0px;
  }
  ul{
    list-style-type: square;
    margin: 0px
  }
  @media only screen and (max-device-width : 650px) {
    .drink-card {
      display: flex;
      max-width: 250px;
      margin: 10px;
    }
}