<mat-card>
    <mat-card-content>
      <mat-label>Alcohol Abuse Awareness</mat-label>
      <p>
        Alcohol abuse can have serious health and social consequences. Excessive alcohol consumption can lead to addiction, liver damage, impaired judgment, and negative impacts on personal and professional life.
      </p>
      <p>
        If you or someone you know is struggling with alcohol abuse, consider seeking professional help and support from loved ones to overcome this challenge and lead a healthier life.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" (click)="close()">Close</button>
    </mat-card-actions>
  </mat-card>