<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body class="mat-app-background">
  <mat-toolbar>
  <span>Daily Drink</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="accent" (click)="openDialog()">
    Join the weekly newsletter!
  </button>
</mat-toolbar>

<div class="cards">
  <app-card /><app-card /><app-card />
</div>

</body>
