<html>
<head>
  <meta charset="utf-8">
  <title>Daily Drink</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/icons/favicon.ico">
</head>
<body class="mat-app-background">
  <mat-toolbar>
  <span>Daily Drink</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="accent" (click)="openDialog()">
    Join the weekly newsletter!
  </button>
</mat-toolbar>

<div class="cards">
  <app-card /><app-card /><app-card />
</div>

</body>
</html>
