body{
color: aquamarine;
  height: 100%;
  max-height: 100vh;
}
html, body {
  margin:0;
  padding:0;
  height: 100%;
}
*{
  font-family: sans-serif;
  margin: 0;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  mat-card{
    flex: 1 1 auto;
    margin: auto;
  }