
<body class="mat-app-background">
  <mat-toolbar>
  <span>Daily Drink</span>
  <span class="example-spacer"></span>
  <button mat-flat-button color="accent" (click)="openDialog()" *ngIf="!mobile">
    Join the weekly newsletter!
  </button>
  <button mat-flat-button color="accent" (click)="openDialog()" *ngIf="mobile">
    Subscribe!
  </button>
</mat-toolbar>

<div class="cards" *ngIf="!mobile">
  <app-card /><app-card /><app-card />
</div>
<div class="cards" *ngIf="mobile">
  <app-card />
</div>

</body>
